.form-control:focus {
    outline: none; /* Disable default outline */
    border-color: #0d0d0e; /* Set border color when focused */
    box-shadow: none; /* Add box shadow when focused */
  }
  .small-boxes-container{
    
      max-height: 40px;
      width: 290px; /* Set the maximum height of the container */
      overflow: auto; /* Enable scrolling when content overflows */
  }  
