.customdateinput-field {
  height: 37px;
  width: 100% !important;
  padding-left: 20px;
  border-radius: 12px;
  font-size: 14px;
  outline: none; /* Remove outline when focused */
  border: 1px solid #ced4da; 
  /* Add border style to replace outline */
    
  }

  .CustomDateInput-div  .react-datepicker-wrapper{
    display: block;
  }


